
  <nav class="navbar navbar-expand-lg navbar-light bg-info mb-4">
    <a class="navbar-brand " href="/">Resources</a>
    <button *ngIf="loginService.isUserLoggedIn()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse " id="navbarSupportedContent" *ngIf="loginService.isUserLoggedIn()">
      <ul class="navbar-nav mr-auto " id="navbarSupportedContent" >
        <li class="nav-item">
          <a class="nav-link text-light" (click)="CapUser()">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" (click)="Employee()">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" (click)="Absence()">Absences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" (click)="Project()">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" (click)="Skill()">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" (click)="EPP()">EmployeeProjectPeriods</a>
        </li>
      </ul>
      <button routerLink="/logout" class="btn btn-danger">
        Logout
      </button>
    </div>
    <button routerLink="/login" class="btn btn-warning ml-auto" *ngIf="!loginService.isUserLoggedIn()">
      Sign in
    </button>
  </nav>
  
  

<router-outlet></router-outlet>
